* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header {
    margin-bottom: 50px;
}

header > img.brand {
    height: 100px;
}